{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="m-4">Your Shopping Bag</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <th scope="col">Product:</th>
                        <th scope="col"></th>
                        <th scope="col">Quantity:</th>
                        <th scope="col">Price:</th>
                    </thead>
                    {% for x in bag_items %}
                    <tr>
                        <td class="w-25">
                            <img class="img-fluid rounded" src="{{ x.item.image.url }}">
                        </td>
                        <td>
                            <p class="mb-0">{{ x.item.title }}</p>
                            <p class="mt-0"><strong>Size: </strong>{{ x.item.size }}</p>
                        </td>
                        <td>
                            <p>{{ x.item.quantity }}</p>
                        </td>
                        <td>
                            <p>£{{ x.item.price }}</p>
                            <a class="remove-item text-danger" id="remove_{{ x.item.id }}"
                                data-size="{{ item.size }}"><small>Delete</small></a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4">
                            <p style="text-align: right;" class="mb-1"><strong>Delivery: </strong>Always <span
                                    class="text-success">FREE</span></p>
                            <p style="text-align: right;" class="mt-1"><strong>Grand Total:
                                    £{{ grand_total|floatformat:2 }}</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="d-flex justify-content-between mt-3">
                                <a href="{% url 'products' %}" class="button-74">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span> Keep Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="button-74">
                                    <span>Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p style="font-size: 2rem;" class="mb-5">Which is looking pretty empty right now &#128556;</p>
                <a href="{% url 'products' %}" class="button-74">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span> Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}