{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center mt-3 mb-3">
    <div class="card" style="max-width: 800px;">
        <img src="{% static 'media/heart.png' %}" class="card-img-top" alt="thank you heart">
        <div class="card-body">
            <h1>THANK YOU</h1>
            <p class="card-text">
                You have helped the planet and supported a small business at the same time. We think you're amazing &#129321;
            </p>
            <p class="card-text">
                Confirmation of order: {{ order.order_number }} has been sent to {{ order.email }}
            </p>
        </div>
    </div>
</div>
{% endblock %}