html {
    height: 100%;
}

.background {
    background: url('/static/media/thread.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 75vh;
    /* height: calc(100vh - 164px);
    color: #555; */
}

.ea-text {
    border: red;
    border-width: 5px;
    background-color: white;
    color: black;
    font-size: 10vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

.aboutus {
    border: 5px;
    border: 15px solid #dfcec5;
    background-color: #efddd4;
}

.section-header {
    text-align: center;
    margin-top: 50px;
}

.aboutus-img {
    height: 250px;
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 50px;
    border-radius: 50%;
    border: #d3adc5 solid 10px;
}

.about-left,
.about-right {
    margin: 5%
}