{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col">
        <h1 class="m-4">Blog</h1>
    </div>
</div>
{% for blog in blogs %}
<div class="container d-flex justify-content-center">
    <div class="card mb-3 mx-5" style="max-width: 800px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ blog.image.url }}" class="img-fluid rounded-start" alt="blog post">
            </div>
            {% if user.is_superuser %}
            <div class="col-md-6">
                <div class="card-body">
                    <a href="{% url 'blog_post' pk=blog.id %}">
                        <h5 class="card-title">{{ blog.title }}</h5>
                    </a>
                    <p class="card-text">{{ blog.subtitle }}</p>
                    <p class="card-text"><small class="text-muted">{{ blog.published }} By {{ blog.author }}</small>
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div><button type="button" class="btn btn-success mt-3" style="width: 90%;">Edit</button></div>
                <div><button type="button" class="btn btn-danger mt-3" style="width: 90%;">Delete</button></div>
            </div>
            {% else %}
            <div class="col-md-8">
                <div class="card-body">
                    <a href="{% url 'blog_post' pk=blog.id %}">
                        <h5 class="card-title">{{ blog.title }}</h5>
                    </a>
                    <p class="card-text">{{ blog.subtitle }}</p>
                    <p class="card-text"><small class="text-muted">{{ blog.published }} By {{ blog.author }}</small>
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}