{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col">
        <h1 class="m-4">Blog</h1>
    </div>
</div>

{% if user.is_superuser %}
<div class="container d-flex justify-content-center">
    <a style="text-decoration: none;" href="{% url 'blog_create' %}">
        <div id="button1" class="d-flex justify-content-center">
            <button type="button" class="btn btn-success" style="width: 100%">
                New Blog <i class="fa-solid fa-square-plus"></i>
            </button>
        </div>
    </a>
</div>

{% endif %}

{% for blog in blogs %}
<div class="container d-flex justify-content-center mt-3">
    <div id="blog1" class="card mb-3 mx-5" style="max-width: 800px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ blog.image.url }}" class="img-fluid rounded-start" alt="blog post">
            </div>
            {% if user.is_superuser %}
            <div class="col-md-6">
                <div class="card-body">
                    <a style="text-decoration: none; color: black;" href="{% url 'blog_post' pk=blog.id %}">
                        <h5 class="card-title">{{ blog.title }}</h5>
                    </a>
                    <p class="card-text">{{ blog.subtitle }}</p>
                    <p class="card-text"><small class="text-muted">{{ blog.published }} By {{ blog.author }}</small>
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <a href="{% url 'blog_update' pk=blog.id %}">
                    <div><button type="button" class="btn btn-success mt-3" style="width: 90%;">Edit</button></div>
                </a>
            </div>
            {% else %}
            <div class="col-md-8">
                <div class="card-body">
                    <a href="{% url 'blog_post' pk=blog.id %}">
                        <h5 class="card-title">{{ blog.title }}</h5>
                    </a>
                    <p class="card-text">{{ blog.subtitle }}</p>
                    <p class="card-text"><small class="text-muted">{{ blog.published }} By {{ blog.author }}</small>
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

<script>
    var button1 = document.getElementById("button1");
    var blog1 = document.getElementById("blog1");

    button1.style.width = blog1.offsetWidth + "px";
</script>

{% endblock %}