{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container justify-content-center mt-3 mb-3 blog-post-width" style="width: 80%;">
    <div class="card">
        <img src="{{ blog.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h1>{{ blog.title }}</h1>
            <p class="card-text">
                {{ blog.content|linebreaks }}
            </p>
            <small>
                <p class="card-text">{{ blog.published }}</p>
            </small>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <h1>Comments</h1>
</div>

{% if user.is_authenticated %}
<div class="container justify-content-center mt-3 mb-3 comment-width" style="width: 80%;">
    <div class="card p-3">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.content|as_crispy_field }}
            <button type="submit" class="btn btn-success mt-4" style="width: 100%;">Post</button>
        </form>
    </div>
</div>
{% else %}
<div class="container text-center justify-content-center">
    <h2>(You must be logged in to leave comments)</h2>
</div>
{% endif %}

{% if comments %}
  {% for comment in comments %}
    <div class="container d-flex justify-content-center mt-3 mb-3 comment-width">
      <div class="card" style="width: 750px;">
        <div class="card-body">
          <p class="card-text">
            {{ comment.content }}
          </p>
          <small>
            <p class="card-text">{{ comment.author }}</p>
          </small>
          <small>
            <p class="card-text">{{ comment.published }}</p>
          </small>
        </div>
      
      {% if user == comment.author %}
      <div class="position-absolute top-0 end-0 p-1">
        <a href="{% url 'comment_update' pk=comment.id %}">
          <i class="fa-regular fa-pen-to-square" style="color: black;"></i>
        </a>
      </div>
      {% endif %}
    </div>
    </div>
  {% endfor %}
{% else %}
  <div class="container d-flex justify-content-center mt-3 mb-3">
    <div>
      <h2 class="m-3">No comments. Sad.</h2>
    </div>
  </div>
{% endif %}

{% endblock %}