{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container d-flex justify-content-center mt-3 mb-3">
    <div class="card" style="max-width: 800px;">
        <img src="{{ blog.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h1>{{ blog.title }}</h1>
            <p class="card-text">
                {{ blog.content|linebreaks }}
            </p>
            <small><p class="card-text">{{ blog.published }}</p></snall>
        </div>
    </div>
</div>

{% endblock %}