{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  {% endblock %}

  {% block core_css %}
  <!-- Google Fonts here -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  {% endblock %}

  {% block core_js %}
  <script src="https://kit.fontawesome.com/8406af8627.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  </script>
  <!-- Stripe -->
  {% endblock %}

  <title>Enough Already</title>
</head>

<body class="d-flex flex-column min-vh-100">

  <nav class="navbar navbar-expand-lg" style="background-color: white;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">ENOUGH ALREADY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_bag' %}">
              <i class="fa-solid fa-bag-shopping"></i> Bag
              {% if bag_items %}
                <span>({{ item_count }})</span>
              {% endif %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="text-center delivery-banner text-uppercase p-1">Free UK Delivery on all orders</div>
  <div class="base-background">
    {% block content %}
    {% endblock %}
  </div>

  <!--Footer-->
  <footer class="page-footer text-center mt-auto pt-2 mt-5">

    <!-- Social icons -->

    <a href="https://www.instagram.com/enoughalready.uk/" target="_blank">
      <i class="fa-brands fa-instagram footer-icons"></i>
    </a>

    <a href="https://www.tiktok.com/@enoughalreadyuk" target="_blank">
      <i class="fa-brands fa-tiktok footer-icons"></i>
    </a>

    <a href="https://www.facebook.com/enoughalready.uk/" target="_blank">
      <i class="fa-brands fa-facebook footer-icons"></i>
    </a>
    <p>© 2023 Enough Already</p>

  </footer>

</body>

</html>